.markdown {
  @apply text-base sm:text-lg md:text-lg lg:text-lg text-gray-900 leading-relaxed;
  font-weight: 340;
  line-height: 1.7;
}

/* Paragraph */
.markdown p {
  @apply mb-6 max-w-3xl mx-auto;
}

.markdown strong {
  @apply font-medium;
}

/* Lists */
.markdown ul,
.markdown ol {
  @apply my-6 max-w-lg mx-auto pl-6 lg:pl-0;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}

/* Blockquote */
.markdown blockquote > p {
  @apply my-6 p-6 bg-gray-100 text-gray-800;
}

/* Headings */
.markdown h2 {
  @apply font-bold text-2xl tracking-tight mt-8 mb-4 max-w-3xl leading-snug mx-auto;
}
.markdown h3 {
  @apply font-bold text-xl tracking-tight mt-8 mb-4 max-w-3xl leading-snug mx-auto;
}
.markdown h4 {
  @apply font-bold text-lg tracking-tight mt-8 max-w-3xl leading-snug mx-auto;
}
.markdown h5 {
  @apply font-bold text-base text-gray-600 tracking-tight mb-4 max-w-3xl leading-snug mx-auto;
}

.markdown li {
  @apply max-w-3xl;
}
.markdown ul {
  @apply max-w-3xl mt-2;
}
.markdown ol {
  @apply max-w-3xl mt-2;
}

/* Links */
.markdown a {
  @apply text-blue-600;
}
.markdown a:hover {
  border-bottom: 1px solid blue;
}

/* Responsive Design */
@screen lg {
  .markdown img {
    @apply content-center w-11/12 my-4 mx-auto;
  }
  .markdown p > img {
    @apply content-center max-w-3xl mx-auto;
  }
  .markdown p {
    @apply max-w-3xl;
  }
  .markdown li {
    @apply ml-8;
  }
}
