@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Chromate";
    src: url("fonts/Chromate-Regular.woff") format("woff2"),
      url("fonts/Chromate-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

.menu-btn-lg {
  @apply inline-block transition duration-300 ease-in-out text-xl px-4 py-2 m-2 leading-none;
}
.menu-btn-lg-active {
  @apply bg-black text-white rounded-full;
}

.menu-btn-lg:hover {
  @apply underline;
}
