@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* font family declaration */

  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
  }

  /* Dark Mode Markdown Styling */
  p {
    @apply text-stone-800 dark:text-white;
  }

  b {
    @apply font-semibold;
  }

  blockquote > p {
    @apply text-gray-900 bg-gray-100 dark:bg-dark-mode-blockquote-gray dark:text-white rounded-xl;
  }
  section > ol > li > p {
    @apply text-black dark:text-white;
  }
}
@layer components {
  /* CSS sitewide styling classes */
  .page-title-design {
    @apply my-16 text-2xl font-bold leading-tight tracking-tighter text-black font-title md:text-5xl lg:text-6xl md:leading-none dark:text-white;
  }
  .section-title-design {
    @apply max-w-3xl mt-16 mb-4 text-2xl font-medium leading-snug tracking-tight text-black dark:text-white;
  }
  .page-para-design {
    @apply my-4 text-base leading-relaxed text-black cursor-pointer lg:text-lg dark:text-white;
  }
  .menu-btn-lg {
    @apply inline-block px-2 py-4 text-lg font-normal leading-none transition duration-300 ease-in-out text-grey-secondary dark:text-dark-mode-gray lg:px-4 hover:text-black dark:hover:text-white;
  }
  .menu-btn-lg-active {
    @apply font-medium text-black dark:text-white;
  }
  .social-icons {
    @apply h-5 mr-4 transition duration-500 lg:h-6 lg:mr-5 hover:scale-125;
  }
  .link-styling {
    border-bottom: 2px solid black;
    @apply text-black dark:text-white hover:bg-opacity-80;
  }
  .link-styling-dark {
    border-bottom: 2px solid white;
    @apply text-black dark:text-white hover:bg-opacity-80;
  }
  .general-link {
    @apply text-link-blue dark:text-dark-mode-link-blue;
  }
  .home-page-title {
    @apply w-auto pr-8 mx-auto mb-4 text-base font-medium text-black dark:text-white;
  }
}

@layer utilities {
  .lazy-renderer {
    content-visibility: auto;
  }
}
